.all {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #6f11bb;
  }

  
  .section {
	width: 520px;
	max-width: 520px; /* novo valor para o tamanho máximo da seção */
	display: flex;
	justify-content: center; /* adiciona alinhamento horizontal para centralizar */
  }
  
  .divisao {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .texto {
	margin-top: 10px;
	padding: 8px;
  }
  
  .input {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px #888;
	text-align: center;
	align-items: center;
	width: 215px;
  }
  
  .botao {
	padding: 10px;
	background-color: #1900ff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .botao:hover {
	background-color: #4d3e8e;
  }

  



/*.alert {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	transition: all 0.3s;
}

.alert-danger {
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	color: #a94442;
}

.alert-success {
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	color: #3c763d;
}
/*

